In [1]:
def detect_discrete_outliers(data, threshold=3):
    data.dropna(inplace = True)
    mean = data.mean()
    std = data.std()
    z_score = (data - mean)/std 
    outliers = abs(z_score) > threshold

    return outliers

def clean_outliers(data, threshold):
    '''
    This function will cleanse outliers only
    and leave missing values alone.
    '''
    df = data.copy()
    list_of_outliers = [False]*df.shape[0]
    for x in df:
        list_of_outliers |= detect_discrete_outliers(df[x], 3)
    list_of_outliers
    return df[-list_of_outliers]

In [2]:
# Create test data
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(100).reshape(20,5), index=range(5,25))

df.iloc[5,3] = np.nan
df.iloc[8,2] = np.nan
df.iloc[11,1] = np.nan

df.iloc[4,1] = 10
df.iloc[6,2] = 15
df.iloc[19,4] = 33

df

           0          1          2         3          4
5  -0.663407   0.829604  -0.198038 -0.576655   2.016115
6   1.843834   0.397677  -0.304511  0.828825  -0.175113
7   2.450720   0.033536  -0.208154 -0.347630   1.497953
8   1.797883  -0.281446  -0.395600  1.107700  -0.948358
9   0.610059  10.000000   0.750456 -0.031584   1.878139
10  0.832122  -0.184397  -0.328679       NaN  -0.961221
11  0.037584   0.288472  15.000000 -0.223772   1.059254
12  1.236503  -1.028209   0.719531 -0.672643  -1.064673
13 -0.284572   1.661303        NaN  0.138891  -0.310928
14 -3.054157  -1.091983  -1.022848  2.364305   1.197927
15 -1.497223  -0.158603  -0.190029  0.621697   1.059486
16 -1.577003        NaN  -1.533960  0.098876  -0.556851
17 -1.314128   1.480788  -1.006212  0.367004   0.465434
18  1.078970  -0.093287  -0.949094  0.202792  -0.931198
19 -0.351701  -0.111423   0.515544 -0.589125   0.134501
20  1.288021   0.076166   0.252034  0.844639  -1.006983
21  0.356236  -0.949181  -1.256000  0.834836  -0.642042
22 -0.379886   0.406862   0.044526 -1.666621   0.422699
23 -0.160228   0.209849   0.361690  0.549491   0.533324
24  0.374026   1.167518  -0.362729 -1.426495  33.000000

In [3]:
clean_outliers(data=df, threshold=3)

           0         1         2         3         4
5  -0.663407  0.829604 -0.198038 -0.576655  2.016115
6   1.843834  0.397677 -0.304511  0.828825 -0.175113
7   2.450720  0.033536 -0.208154 -0.347630  1.497953
8   1.797883 -0.281446 -0.395600  1.107700 -0.948358
10  0.832122 -0.184397 -0.328679       NaN -0.961221
12  1.236503 -1.028209  0.719531 -0.672643 -1.064673
13 -0.284572  1.661303       NaN  0.138891 -0.310928
14 -3.054157 -1.091983 -1.022848  2.364305  1.197927
15 -1.497223 -0.158603 -0.190029  0.621697  1.059486
16 -1.577003       NaN -1.533960  0.098876 -0.556851
17 -1.314128  1.480788 -1.006212  0.367004  0.465434
18  1.078970 -0.093287 -0.949094  0.202792 -0.931198
19 -0.351701 -0.111423  0.515544 -0.589125  0.134501
20  1.288021  0.076166  0.252034  0.844639 -1.006983
21  0.356236 -0.949181 -1.256000  0.834836 -0.642042
22 -0.379886  0.406862  0.044526 -1.666621  0.422699
23 -0.160228  0.209849  0.361690  0.549491  0.533324